@{
    ViewBag.Title = "Alpha Recruiter";
}


<div id="top" style="display: none">
    <div class="TopPanel" id="topPanel" >
        <div id="mainMenuBtn" class="MainMenuBtn">
            <img src="@Url.Content("~/Content/Skins/" + @Url.SkinFolder() + "/images/framework/main-menu.png")" />
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="Logo" id="topLogo">
            <img style="display: none;" />
            <span style="display: none;" ></span>
            
        </div>
        <sup>&nbsp;&nbsp;<span style="color:aliceblue; font-size:13px; ">version 0.12 (beta)</span></sup>

        
        <table style="float: right;" cellpadding="0" cellspacing="0">
            <tr>
               
                <td>
                    <div class="SettingsBtn" id="settingsBtn">
                        <img src="@Url.Content("~/Content/Skins/" + @Url.SkinFolder() + "/images/framework/settings.png")" />
                    </div>
                </td>
                <td>
                    <div id="loginPanelHolder" data-bind="template: { name: 'LoginPnl/LoginPnlTemplate' }, click: OnUserMenuClick, clickBubble: false " class="LoginPanel"></div>
                </td>
            </tr>
        </table>
        

        

        <div id="WorkspacesPnlHolder" data-bind="template: { name: 'Workspaces/WorkspacesPnlTemplate' }" style="display:none;"></div>
    </div>
    @*<div class="NavigationBar" id="navigationBar"></div>*@

    <div class="TreeCaption" id="treeCaption">
        
        
        
        <div class="SectionCaption" id="sectionCaption">

            

        </div>

        @*<img id="treeOpenArr" class="TreeOpenIcon" src="@Url.Content("~/Content/Skins/" + @Url.SkinFolder() + "/images/framework/menu-alt.png")">*@

        <svg width="18" height="9" id="treeOpenArr">
            <path d="M 0 0 l 18 0 L 9 7 Z" fill="white" />
        </svg>
        <svg width="18" height="9" id="treeCloseArr" display="none">
            <path d="M 0 0 l 18 0 L 9 7 Z" fill="red" />
        </svg>


        @*<div class="AltMenuBtn" id="altMenuBtn" style="display: none;">
            
            <img src="@Url.Content("~/Content/Skins/" + @Url.SkinFolder() + "/images/framework/menu-alt.png")">
        </div>*@

        <div id="treePinBtn" style="width: 30px; height: 30px; background-color:rebeccapurple; float:right; display:none"></div>



        <div id="navigationBar" class="NavigationBar">
            <div class="BackBtn" id="backBtn" data-bind="click: $root.BackClick, visible: Frames().length > 1">
                <img src="@Url.Content("~/Content/Skins/" + @Url.SkinFolder() + "/images/framework/arrow-back.png")">
                <div></div>
                <span id="backLbl" data-bind="text: GetTxt('Back')"></span>
               
            </div>

          

            <div class="NavigationString"  data-bind="foreach: Frames">
                
                <div class="NavFrame"  data-bind="text: Caption, click: $root.NavigationItemClick" ></div>
                <div class="NavArrow" data-bind="visible: !$root.IsLastFrame($data)">
                    <img src="@Url.Content("~/Content/Skins/" + @Url.SkinFolder() + "/images/framework/navig-arrow-forward.png")" /> 
                </div>
                

            </div>
        </div>

       


        </div>




      


</div>

<div id="left" class="LeftPin">


    <div id="TreeHolder" style="height: 100%;" data-bind=" template: { name: 'Tree/TreeViewTemplate' }"></div>

    @*<div id="SectionsHolder" data-bind=" template: { name: 'Sections/SectionsTemplate' }">

        </div>*@

    @*<div id="fwLink">
            <span>Powered by&nbsp;</span>
            <a href="http://www.fulcrumweb.com/" target="_blank">FulcrumWeb</a>
        </div>*@


</div>

@*<div id="splitter" style="background-color:black; width:1px; height:100%; float:left; cursor:col-resize "> </div>*@

<div id="right">
    <div id="FrameHolder" class="FrameHolder"></div>
</div>


